.jumbotron{
	background-image: url(../img/bg.png);
	background-size: cover;
}
.judul{
	font-family: 'Luckiest Guy', cursive;
}
.jenishuruf{
	font-family: 'Baloo', cursive;
}
.judulwhy{
	font-size: 1em;
}
body{
	background-color: #f0f0f0;
}