
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	flex-wrap: wrap;
}
.containerheader{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.item{
	flex-grow: 1;
}
.header{
	flex-basis: 200vw;
	/*position: fixed;
	overflow: hidden;
	opacity: 80%;*/
}
.grup{
	flex-basis: 10vw;
}
.main{
	flex-basis: 60vw;
}
.peringkat{
	flex-basis: 20vw;
}
.logo{
	margin-right: auto;
	flex-basis: 15vw;
}
/*===========
program
============*/
.containerprogram {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.itemprogram{
	flex-grow: 1;
	flex-basis: 10vw;
	background-color: red;
	margin: 1%; 
}
.itemprogram2{
	flex-grow: 1;
	flex-basis: 10vw;
	background-color: orange;
	margin: 1%; 
}